<?xml version="1.0"?>
<launch>
  <arg name="marker_size" default="0.1778"/>
  <arg name="map_config" default="$(find aruco_ros)/maps/map.yml"/>
  <arg name="camera_namespace" default="camera1"/>
  <arg name="camera_frame" default="camera_link"/>
  <arg name="marker_map_frame" default="aruco_map"/>
  <arg name="world_fixed_frame" default="world_frame"/>
  <arg name="visualize" default="true"/>
  <arg name="drone_index" default="0"/>

  <group ns="$(arg camera_namespace)">
    <node pkg="aruco_ros" type="map_single" name="aruco_map_pose_tracker" output="screen">
      <remap from="/camera_info" to="camera_info"/>
      <remap from="/image" to="image_rect_filtered"/>
      <param name="map_config" type="string" value="$(arg map_config)"/>
      <param name="marker_size" type="double" value="$(arg marker_size)"/>
      <param name="draw_markers" type="bool" value="true"/>
      <param name="draw_markers_cube" type="bool" value="false"/>
      <param name="draw_markers_axis" type="bool" value="true"/>
      <param name="draw_map_axis" type="bool" value="true"/>
      <param name="image_is_rectified" value="true"/>
      <param name="camera_frame" value="base_link_$(arg drone_index)"/>
      <param name="marker_map_frame" type="string" value="$(arg marker_map_frame)"/>
      <param name="world_fixed_frame" type="string" value="$(arg world_fixed_frame)"/>
      <param name="corner_refinement" value="CORNER_SUBPIX"/>
      <param name="publish_tf" value="true"/>
      <param name="rotate_marker_axis" value="false"/>
    </node>

    <node name="publish_odom" pkg="espdrone_driver" type="publish_odom.py">
        <param name="index" value= "$(arg drone_index)"/>
        <remap from="/vo" to="vo"/>
        <remap from="/pose" to="aruco_map_pose_tracker/pose"/>
    </node>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <param name="output_frame" value="odom_$(arg drone_index)"/>
      <param name="freq" value="10.0"/>
      <param name="sensor_timeout" value="5.0"/>
      <param name="odom_used" value="false"/>
      <param name="imu_used" value="true"/>
      <param name="vo_used" value="true"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
      <remap from="/vo" to="vo"/>
      <remap from="/imu_data" to="/drone$(arg drone_index)/imu"/>
    </node>

    <!--node name="tf_odom_publisher" pkg="espdrone_driver" type="tf_broadcaster_imu.py" output="screen">
      <param name="index" value="$(arg drone_index)"/>
      <remap from="/odom" to="robot_pose_ekf/odom_combined"/>
    </node-->

    <!-- Visualization -->
    <!--node pkg="image_view" type="image_view" name="image_view" if="$(arg visualize)" output="screen">
      <remap from="image" to="aruco_map_pose_tracker/result"/>
    </node-->

  </group>
</launch>
